:root {
    --backgroundColor: green;
    --fontColor:red;
  }


.divElement {
    background-color: var(--backgroundColor);
    color:var(--fontColor)
  }

  .appBody {

 
    text-align: center;
    background-color: #282c34;
  
}

.btn{

  border-radius: 10px;
  background:red;
}